body {
    font-family: Arial;
    background-color: #f4f4f9;
    text-align: center;
}

textarea {
    width: 500px;
    height: 200px;
    padding: 10px;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
